{% extends '/layout/base.html.twig' %}

{% block content %}
<section id="home" class="bg_home mh92vh row margin0">
<h1>Hello !</h1>

{% if transfers|length > 0 %}
    {% for transfer in transfers %}
        <p>{{ transfer.emailExpediteur }} / {{ transfer.emailDestinataire }} / {{ transfer.url }}</p>
    {% endfor %}
{% else %}
    <p>Aucun transfert trouvé</p>
{% endif %}
    
</section>
{% endblock %}