.bg-lightgray{background-color: #F8F8F8;}
.bg-white{background-color: #FFF;}
.w80{width: 80%};
.h500{height: 500px;}

.dsp-flex{display: flex;}
.flx-col{flex-direction: column;}
.h100vh{height: 100vh;}

.center{margin: 0 center;}
.txt-center{text-align: center;}

.bg-alpha{background-color:transparent;}

.mrg-auto{margin:auto;}