<header>
    <nav class="bg-purple">
        <div class="nav-wrapper container valign-wrapper">
            <a class="valign-wrapper" href="http://localhost/upfilez">
                <img class="responsive-img" src="./app/assets/img/logo_upfilez.png" alt="Logo">
            </a>
        </div>
    </nav>
</header>