<header>
    <nav class="bg-purple">

        <!-- Medium & Large screen only -->
        <div class="nav-wrapper container valign-wrapper hide-on-small-only">
            <a class="valign-wrapper" href="http://localhost/upfilez">
                <img class="responsive-img" src="./app/assets/img/logo_upfilez.png" alt="Logo">
            </a>
        </div>

        <!-- Small screen only -->
        <div class="nav-wrapper container valign-wrapper hide-on-med-and-up dsp-flx" style='justify-content: center;'>
            <a class="valign-wrapper mrg-0-auto" href="http://localhost/upfilez">
                <img class="responsive-img" src="./app/assets/img/logo_upfilez.png" alt="Logo">
            </a>
        </div>
    </nav>
</header>